.footer{
	background-color: #161616;
	padding: 10px;
}

.footerLogo{
	height: 60px;
}

.credits{
	font-size: 1em;
	color: #a0a0a0;
}

footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}