#laserbar {
	position: fixed;
	z-index: 247563;
	top: 0;
	left: 0;
	width: 0;
	height: 5px;
	background: #0c84b7;
	border-radius: 15%;
	-moz-transition: width 500ms ease-out,opacity 400ms linear;
	-ms-transition: width 500ms ease-out,opacity 400ms linear;
	-o-transition: width 500ms ease-out,opacity 400ms linear;
	-webkit-transition: width 500ms ease-out,opacity 400ms linear;
	transition: width 500ms ease-out,opacity 400ms linear;
}
#laserbar.done { opacity: 0; }
#laserbar.waiting:before {
	position: absolute;
  	content: '';
	top: 0;
  	opacity: 1;
	width: 15%;
	right: 0px;
	height: 2px;
	box-shadow: #3bb3cc 10px 0 3px 5px;
	border-radius: 10%;
}
@-moz-keyframes pulse {
	30% { opacity: 1; }
	60% {	opacity: 0;	}
	100% { opacity: 1; }
}
@-ms-keyframes pulse {
	30% { opacity: 1; }
	60% {	opacity: 0;	}
	100% { opacity: 1; }
}
@-o-keyframes pulse {
	30% { opacity: 1; }
	60% {	opacity: 0;	}
	100% { opacity: 1; }
}
@-webkit-keyframes pulse {
	30% { opacity: 1; }
	60% {	opacity: 0;	}
	100% { opacity: 1; }
}
@keyframes pulse {
	30% { opacity: 1; }
	60% {	opacity: 0;	}
	100% { opacity: 1; }
}
#laserbar.waiting:before {
  -moz-animation: pulse 1.5s ease-out 0s infinite;
	-ms-animation: pulse 1.5s ease-out 0s infinite;
	-o-animation: pulse 1.5s ease-out 0s infinite;
	-webkit-animation: pulse 1.5s ease-out 0s infinite;
	animation: pulse 1.5s ease-out 0s infinite
}