html {
    background-color: black;
}
.logoNav{
	height: 68px !important;
	margin-top: -10px;
}
.footerLogo{
	height: 100px;
}
.titleHeading{
	color: #0171bc !important;
	text-transform: uppercase;
	font-size: 3em;
}
section.cta {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/taas.jpg');
  padding: 125px 0;
  margin-right: -15px;
  margin-left: -15px;
}
section.cta .cta-content {
  position: relative;
  z-index: 1;
}
section.cta .cta-content h2 {
  color: white;
  font-size: 3em !important;
}
@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}
section.cta .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.60);
  position: absolute;
  top: 0;
  left: 0;
}
.margin-top{
	padding-top: 25px;
}
.margin-bottom{
	padding-bottom: 25px;
}
.nothingToDisplay{
	font-size: 2em;
	font-style: italic;
	color: #b20e00;
}
.fontGlyphiconOk{
  color: #01a34a;
}
.fontGlyphiconNo{
  color: #ce1904;
}
.space{
  padding-right: 8px !important;
}
.addFont{
  color: #022b33 !important;
}
.detailsHeading{
  color: #10a57d !important;
  font-style: italic;
}
#return-to-top {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.85);
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 21px;
    top: 20px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
body {
    margin-top: 5px;
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}
div#preloader { 
  position: fixed; 
  left: 0; 
  top: 0; 
  z-index: 999; 
  width: 100%;
  height: 100%; 
  overflow: visible; 
  background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; 
}