body {
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.table > tbody > tr > td {
    vertical-align: middle;
}
.table > thead > tr > th {
    vertical-align: middle;
}
.section-padding
{
	padding: 20px 15px;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
}
a
{
    color: #006091;
    text-decoration: none;
}
a,
a:after,
a:before {
  transition: all .4s;
}
a:hover{
    color: #c10b0b;
    text-decoration: none;
}

/*--------------------NAVIGATION--------------------------*/
.logoNav{
    height: 65px !important;
    margin-top: -15px;
}
.navbar-default {
    background-color: transparent;
}
.main-header
{
    background: url(../img/taas.jpg) no-repeat;
    background-size: cover;
    min-height: 100px;
}
.bg-color
{
    background-color: RGBA(0, 0, 0, 0.80);
}
.nav > li > a {
    padding: 0px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #82ceff;
    background-color: transparent;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 20px 20px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #22e2d6;
}
.navbar-fixed-top {
    padding: 40px 0;
    transition: all 0.5s;
}
.top-nav-collapse {
    background: rgba(18, 18, 18, 0.90);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 13px 0;
}
.navbar-default .navbar-nav .top-nav-collapse > li > a{
  color: #000;
}
#bars{
  color: #636363 !important;
}
/*---------------------------SECTION---------------------------*/
.sect{
  height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 70px;
  padding: 80px;
  background-image: url();
} 

.bg{
  background: 
    linear-gradient(
      rgba(1, 1, 1, 0.98), 
      rgba(0, 106, 122, 0.69)
    ),
    /* bottom, image */
    url("../img/taas.jpg");
}

/*---------------------------TYPOGRAPHY---------------------------*/
.wrapper{
	padding: 65px 0px;
}
.top-title{
	font-size: 25px;
	font-weight: 700;
	color: #000;
	letter-spacing: 6px;
	text-transform: uppercase;
  padding-bottom: 5px;
}
.sub-title{
	font-size: 25px;
	font-weight: 000;
	color: #fff;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.title{
	font-size: 25px;
	font-weight: 700;
	color: #1487bc;
	letter-spacing: 4px;
	text-transform: uppercase;
}
.companytitle{
    font-size: 25px;
    font-weight: 700;
    color: #1babd3;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.section {
    position: relative;
    padding: 88px 0 67px 0;
    display: block;
}

/**--------------------------MEDIA QUERIES--------------------------------**/
@media (min-width: 35px) and (max-width: 800px){
    .section-title{
        margin-bottom: 15px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.92);
        color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
        background-color: rgba(0, 0, 0, 0.92);
        color: #07bdef;
        font-weight: bold;
    }
    .navbar-brand img{
        height: 50px !important;
    }
}
@media (min-width: 20px) and (max-width: 450px){
    .navbar-default .navbar-nav span{
      color: #fff;
    }
    .navbar-toggle, .navbar-toggle:hover{
        background-color: rgba(0, 0, 0, 0.92);
        color: #000;
    }
    .navbar-toggle{
        margin-top: 0px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.92);
        color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
        background-color: rgba(0, 0, 0, 0.92);
        color: #1babd3;
    }
    .top-title{
        font-size: 20px;
    }
    .title{
        font-size: 20px;
    }
    .sub-title{
        font-size: 20px;
    }
    .padding-right-zero{
        padding-right: 15px;
    }
    .section-title{
        margin-bottom: 15px;
    }
    .cta-txt h3{
        font-size: 28px;
    }
    body{
        font-size: 14px;
    }
    h3.txt-tl{
        font-size: 20px;
    }
}
    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.80);
      position: absolute;
      top: 0;
      left: 0;
    }
    
    .padding-top{
        padding-top: 50px !important;
    }
/*----------------------------RETURN TO TOP------------------------------*/
#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 21px;
    top: 20px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.90);
}
#return-to-top:hover i {
    color: #37bfce;
    top: 13px;
}

/*-------------------------OTHER STYLES----------------------------*/
.selectWidth{
    width: auto;
}
.arrowSort{
  font-size: .5em !important;
}
hr {
   display: block;
   position: relative;
   width: 10%;
   clear: both;
   border: none;
   border-top: 1px solid #2b2b2b;
   border-bottom: 1.5px solid #2b2b2b;
}
textarea {
    max-width: 100%; 
}
.nothingToDisplay{
    font-size: 1.8em;
    font-style: italic;
    color: #b20e00;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.fontGlyphiconOk{
  color: #01a34a;
}
.fontGlyphiconNo{
  color: #ce1904;
}
.space{
  padding-right: 8px !important;
}
.titleFont{
    color: #09659b !important;
    text-transform: uppercase;
    font-size: 1.42em;
    letter-spacing: 3px;
}
.subLabel{
    color: #009b8e !important;
    text-transform: uppercase;
    font-size: 1.2em;
}
hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    width: 100% !important
}
.addPicture{
    height: 200px;
}
span.dateRequirement{
    color: #0277cc !important;
}
h2.titleRequirements{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.touch{
    cursor: pointer;
}
h4.modal-title{
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #000;
}
.number{
    color: #035aa8;
    font-size: 3em;
}
.paddingInBetween{
    margin-left: 20px;
    margin-right: 20px;
}
.paddingTopSlight{
    padding-top: 10px;
}
button.disabled{
    cursor: default !important;
}
.help{
    cursor: help !important;
}
.countNumber,
.countNumber:after,
.countNumber:before{
    transition: all .3s;
}
.countNumber{
    background-color: #08a8a6;
    padding: 3px 8px;
    border-radius: 100px;
    color: #fff
}
.countNumber:hover{
    background-color: #067a78;
    padding: 3px 8px;
    border-radius: 100px;
    color: #fff;
}
.student{
    font-size: 1.2em;
}
.infoStudent{
    font-size: 1.8em;
    color: #067a78;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.paddingTop{
    padding: 150px 0;
}
.shadowBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*-----------------------------QUICK SUMMARY STYLES-----------------------------*/

.blue,.green,.orange,.red,.violet,.yellow,
.blue,.green,.orange,.red,.violet,.yellow:after,
.blue,.green,.orange,.red,.violet,.yellow:before {
  transition: all .3s;
}
.blue:hover{
    background: #D9F3FF;
}
.green:hover{
    background: #c6ffd2;
}
.orange:hover{
    background: #ffdfc6;
}
.red:hover{
    background: #ffdbdb;
}
.violet:hover{
    background: #ecdbff;
}
.yellow:hover{
    background: #feffdb;
}
.colorInfo{
    color: #000000;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
#wellHeight,
.wellHeight{
    height: 250px !important;
}
.quickSummary{
    color: #111111;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.3em;
}
.quickSummary{
    cursor: pointer;
}
span.indexIcon{
    font-size: 2.5em !important;
    color: #055a8e;
    text-align: center;
}
/**--------------------------BUTTONS--------------------------**/
.btn {
  text-transform: uppercase;
  padding: 0.35em 1em;
  font-weight: bold;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -moz-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.btn:hover {
  -moz-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
.btn-default {
  color: #2c3e50;
  border-color: #bdc3c7;
}
.btn-default:hover {
  background-color: #bdc3c7;
  border-color: #bdc3c7;
}
.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}
.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}
.btn-info {
  background-color: #9b59b6;
  border-color: #9b59b6;
}
.btn-info:hover {
  background-color: #8e44ad;
  border-color: #8e44ad;
}
.btn-success {
  background-color: #28bf68;
  border-color: #2ecc71;
}
.btn-success:hover {
  background-color: #27ae60;
  border-color: #27ae60;
}
.btn-warning {
  background-color: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning:hover {
  background-color: #f39c12;
  border-color: #f39c12;
}
.btn-danger {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger:hover {
  background-color: #c0392b;
  border-color: #e74c3c;
}

