body {
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
    overflow-x: hidden; 
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.section-padding
{
	padding: 20px 15px;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Lato', sans-serif;
}
a
{
    color: #006091;
    text-decoration: none;
}
a,
a:after,
a:before {
  transition: all .4s;
}
a:hover{
    color: #c10b0b;
    text-decoration: none;
}

/*--------------------NAVIGATION--------------------------*/
.logoNav{
    height: 60px !important;
    margin-top: -20px;
}
.navbar-default {
    background-color: transparent;
    height: 70px;
}
.main-header
{
	background: url(../img/taas.jpg) no-repeat;
	background-size: cover;
	min-height: 80px;
}
.navbar-brand
{
    padding: 0px;
    height: inherit;
    font-family: 'Lato', sans-serif;
}
.bg-color
{
	background-color: RGBA(0, 0, 0, 0.72);
}
.nav > li > a {
    padding: 0px;
    margin-top: -20px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #82ceff;
    background-color: transparent;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    padding: 20px 20px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color: #22e2d6;
}
.navbar-fixed-top {
    padding: 40px 0;
    transition: all 0.5s;
}
.top-nav-collapse {
    background: rgba(0,0,0,0.82);
    padding: 25px 0;
}
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #22e2d6;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}


/*---------------------------TYPOGRAPHY---------------------------*/

.wrapper{
	padding: 50px 0px;
}
.top-title{
	z-index: 5;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	line-height: 0px;
	letter-spacing: 6px;
	opacity: 1;
	text-transform: uppercase;
}
.sub-title{
	font-size: 40px;
	font-weight: 700;
	color: #fff;
	line-height: 71px;
	letter-spacing: 4px;
	opacity: 1;
	text-transform: uppercase;
}
.title{
	font-size: 60px;
	font-weight: 700;
	color: #1babd3;
	line-height: 0px;
	letter-spacing: 4px;
	opacity: 1;
	text-transform: uppercase;
	padding: 25px 0px;
}
.companytitle{
    font-size: 40px;
    font-weight: 700;
    color: #1babd3;
    line-height: 10px;
    letter-spacing: 4px;
    opacity: 1;
    text-transform: uppercase;
    padding: 25px 0px;
}
.section {
    position: relative;
    padding: 88px 0 67px 0;
    display: block;
}

/**--------------------------MEDIA QUERIES--------------------------------**/
@media (min-width: 35px) and (max-width: 800px){
    .section-title{
        margin-bottom: 15px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.70);
        color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
        background-color: rgba(0, 0, 0, 0.70);
        color: #1babd3;
    }
}
@media (min-width: 20px) and (max-width: 450px){
    .navbar-toggle:hover, .navbar-toggle{
        background-color: rgba(0, 0, 0, 0.87);
        color: #000;
    }
    .navbar-toggle{
        margin-top: 0px;
    }
    .navbar-default .navbar-nav > li > a{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.70);
        color: #fff;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
        background-color: rgba(0, 0, 0, 0.70);
        color: #1babd3;
    }
    .top-title{
        font-size: 15px;
    }
    .title{
        font-size: 50px;
    }
    .sub-title{
        font-size: 24px;
    }
    .padding-right-zero{
        padding-right: 15px;
    }
    .section-title{
        margin-bottom: 15px;
    }
    .cta-txt h3{
        font-size: 28px;
    }
    body{
        font-size: 14px;
    }
    h3.txt-tl{
        font-size: 20px;
    }
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  position: absolute;
  top: 0;
  left: 0;
}
.footerLogo{
    height: 60px;
}
.padding-top{
    padding-top: 50px !important;
}
/*----------------------------RETURN TO TOP------------------------------*/
#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
    width: 60px;
    height: 60px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 100;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 21px;
    top: 20px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.90);
}
#return-to-top:hover i {
    color: #37bfce;
    top: 13px;
}

/*-------------------------OTHER STYLES----------------------------*/
.nothingToDisplay{
    font-size: 2em;
    font-style: italic;
    color: #b20e00;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.fontGlyphiconOk{
  color: #01a34a;
}
.fontGlyphiconNo{
  color: #ce1904;
}
.space{
  padding-right: 8px !important;
}
.titleFont{
    color: #09659b !important;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 3px;
}
.subLabel{
    color: #009b8e !important;
    text-transform: uppercase;
    font-size: 1.2em;
}
hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.addPicture{
    height: 200px;
}
span.dateRequirement{
    color: #0277cc !important;
}
h2.titleRequirements{
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.touch{
    cursor: pointer;
}
h4.modal-title{
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #000;
}
.number{
    color: #035aa8;
    font-size: 3em;
}
.paddingInBetween{
    margin-left: 20px;
    margin-right: 20px;
}
.paddingTopSlight{
    padding: 10px 0;
}
button.disabled{
    cursor: default !important;
}
.help{
    cursor: help !important;
}
.countNumber,
.countNumber:after,
.countNumber:before{
    transition: all .3s;
}
.countNumber{
    background-color: #08a8a6;
    padding: 3px 8px;
    border-radius: 100px;
    color: #fff
}
.countNumber:hover{
    background-color: #067a78;
    padding: 3px 8px;
    border-radius: 100px;
    color: #fff;
}
.student{
    font-size: 1.2em;
}
.infoStudent{
    font-size: 1.8em;
    color: #067a78;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

/*-----------------------------QUICK SUMMARY STYLES-----------------------------*/

.blue,.green,.orange,.red,.violet,.yellow,
.blue,.green,.orange,.red,.violet,.yellow:after,
.blue,.green,.orange,.red,.violet,.yellow:before {
  transition: all .3s;
}
.blue:hover{
    background: #D9F3FF;
}
.green:hover{
    background: #c6ffd2;
}
.orange:hover{
    background: #ffdfc6;
}
.red:hover{
    background: #ffdbdb;
}
.violet:hover{
    background: #ecdbff;
}
.yellow:hover{
    background: #feffdb;
}
.colorInfo{
    color: #000000;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
#wellHeight,
.wellHeight{
    height: 250px !important;
}
.quickSummary{
    color: #111111;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.3em;
}
.quickSummary{
    cursor: pointer;
}
span.indexIcon{
    font-size: 2.5em !important;
    color: #055a8e;
    text-align: center;
}



